@use 'utils';

$bg-opacity: 0.3;

.pageBody {
  position: relative;
  padding:
    utils.$module-size * 2
    utils.$module-size
    utils.$module-size * 11;
  min-height: 100svh;
}

.first {
  background: linear-gradient(
    135deg,
    rgba(utils.$pink-2, $bg-opacity),
    utils.$white,
    rgba(utils.$pink-2, $bg-opacity),
  );
}

.second {
  background: linear-gradient(
    135deg,
    rgba(utils.$blue-2, $bg-opacity),
    utils.$white,
    rgba(utils.$blue-2, $bg-opacity),
  );
}

.third {
  background: linear-gradient(
    135deg,
    rgba(utils.$orange-4, $bg-opacity),
    utils.$white,
    rgba(utils.$orange-4, $bg-opacity),
  );
}

.contentWrapper {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  @extend %main-font-bold;
  font-size: utils.$font-size-title;

  text-align: center;
  margin-bottom: 16px;
}
