@use "utils";

.wrapper {
  height: 100px;
  position: relative;
}

$loader-size: 40px;

.loader {
  width: $loader-size;
  height: $loader-size;
  position: absolute;
  left: 50%;
  top: 50%;
  background: utils.$white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);

  animation: bounce 1s ease-in infinite;
}
@keyframes bounce {
  0% ,
  100% {
    transform: translate(-50%, -50%) scale(0.75);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
  }
}
