@use "utils";

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  width: 100%;
}

$loader-size: 40px;
$circle-size: 40em;
$small-circle-size: 8px;

.loader {
  width: $loader-size;
  height: $loader-size;
  position: relative;

  &::before ,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $circle-size;
    height: $circle-size;
    background-image:
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0),
      radial-gradient(circle $small-circle-size, utils.$white 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
    13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }

    &::after {
      font-size: 1px;
      background: #fff;
      animation: bounce 1s ease-in infinite;
    }
}
@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}