@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'variables';

%main-font-regular {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-style: normal;
  font-optical-sizing: auto;
}

%main-font-bold {
  font-family: $font-family-main;
  font-weight: $font-weight-bold;
  font-style: normal;
  font-optical-sizing: auto;
}

@mixin textButton {
  @extend %main-font-bold;

  font-size: $font-size-title;
  color: #212631;
}

@mixin textMain {
  @extend %main-font-regular;

  font-size: $font-size-regular;
  color: #212631;
}
