@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

%main-font-regular {
  font-family: vars.$font-family-main;
  font-weight: vars.$font-weight-regular;
  font-style: normal;
  font-optical-sizing: auto;
}

%main-font-bold {
  font-family: vars.$font-family-main;
  font-weight: vars.$font-weight-bold;
  font-style: normal;
  font-optical-sizing: auto;
}

@mixin textButton {
  @extend %main-font-bold;

  font-size: vars.$font-size-title;
  color: #212631;
}

@mixin textMain {
  @extend %main-font-regular;

  font-size: vars.$font-size-regular;
  color: #212631;
}

@mixin pageTitle {
  @extend %main-font-bold;

  font-size: vars.$font-size-title;
  color: #212631;
}