@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

%main-font-regular {
  font-family: vars.$font-family-main;
  font-weight: vars.$font-weight-regular;
  font-style: normal;
  font-optical-sizing: auto;
}

%main-font-bold {
  font-family: vars.$font-family-main;
  font-weight: vars.$font-weight-bold;
  font-style: normal;
  font-optical-sizing: auto;
}
