// TYPOGRAPHY
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-title: 22px;

$font-family-main: "Nunito", sans-serif;

// COLORS
$white: #ffffff;
$black: #000000;

$gray-1: #f9f9f9;
$gray-2: #f2f2f2;
$gray-3: #e6e6e6;
$gray-4: #d9d9d9;
$gray-5: #cccccc;
$gray-6: #bfbfbf;
$gray-7: #a6a6a6;
$gray-8: #808080;
$gray-9: #595959;
$gray-10: #333333;

$orange-1: #FFF4E5;
$orange-2: #FFE5CC;
$orange-3: #FFD4B3;
$orange-4: #FFC299;
$orange-5: #FFAF80;
$orange-6: #FF9966;
$orange-7: #FF8552;
$orange-8: #FF7040;
$orange-9: #FF5C33;
$orange-10: #FF471A;

$pink-1: #FCE1E6;
$pink-2: #F6B8D6;
$pink-3: #F49BC6;
$pink-4: #F080B6;
$pink-5: #EC6AA6;
$pink-6: #E55D96;
$pink-7: #E14F86;
$pink-8: #D94276;
$pink-9: #D43666;
$pink-10: #C92A56;

$blue-1: #D1E9FF;
$blue-2: #A9D4FF;
$blue-3: #89BFFF;
$blue-4: #70AAFF;
$blue-5: #579CFF;
$blue-6: #4788FF;
$blue-7: #3873FF;
$blue-8: #2A5EFF;
$blue-9: #1D4ACD;
$blue-10: #153C99;

// SIZES
$module-size: 8px;

// TIME
$transition-duration: 300ms;
