// TYPOGRAPHY
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-regular: 16px;
$font-size-title: 18px;

$font-family-main: "Nunito", sans-serif;

// COLORS
// COLORS
$blue-1: #d2e7f0;
$blue-2: #b9d9e8;
$blue-3: #a0cfe4;
$blue-4: #86c2db;
$blue-5: #70b3d1;
$blue-6: #569fc4;
$blue-7: #308eb9;
$blue-8: #2a7ca1;
$blue-9: #266d91;
$blue-10: #1c4d63;

$purple-1: #f2e4f8;
$purple-2: #ebd4f4;
$purple-3: #e3c1f0;
$purple-4: #dab0ea;
$purple-5: #d0a1e4;
$purple-6: #c38ee0;
$purple-7: #cda0e6;
$purple-8: #b78cd4;
$purple-9: #a078c1;
$purple-10: #946cb0;

$white: #ffffff;
$black: #000000;

$gray-1: #f9f9f9;
$gray-2: #f2f2f2;
$gray-3: #e6e6e6;
$gray-4: #d9d9d9;
$gray-5: #cccccc;
$gray-6: #bfbfbf;
$gray-7: #a6a6a6;
$gray-8: #808080;
$gray-9: #595959;
$gray-10: #333333;

// SIZES
$cellPadding: 8px;

// TIME
$transition-duration: 300ms;