@use 'utils';

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;

  & td {
    padding: utils.$cellPadding;
    border-bottom: 1px solid utils.$blue-6;
    vertical-align: middle;
  }

  & th {
    padding: utils.$cellPadding;
    border-bottom: 1px solid utils.$blue-6;

    background-color: utils.$blue-2;

    text-align: center;
    vertical-align: middle;

    font-weight: utils.$font-weight-bold;
  }

  // Name
  th:nth-child(1),
  td:nth-child(1) {
    min-width: 150px;
  }

  th:nth-child(1) {
    text-align: center;
  }

  td:nth-child(1) {
    text-align: left;
  }

  // Date
  th:nth-child(2), td:nth-child(2) {
    text-align: center;
    min-width: 90px;
    width: 90px;
  }

  // Channel
  th:nth-child(3), td:nth-child(3) {
    text-align: center;
    min-width: 110px;
    width: 110px;
  }
}

