@use 'utils';

$innerCellPadding: utils.$module-size / 2;

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  user-select: none;

  border-radius: utils.$module-size;
  overflow: hidden;
  color: utils.$gray-10;

  thead {
    font-weight: utils.$font-weight-bold;
    color: utils.$gray-1;
  }

  th,
  td {
    padding: utils.$module-size;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }

  // Name
  td:nth-child(1) {
    text-align: left;
  }

  th:nth-child(1),
  td:nth-child(1) {
    padding-right: $innerCellPadding;
  }

  // Date
  th:nth-child(2),
  td:nth-child(2) {
    width: 72px;
    padding-right: $innerCellPadding;
    padding-left: $innerCellPadding;
  }

  // Channel
  th:nth-child(3),
  td:nth-child(3) {
    width: 96px;
    padding-left: $innerCellPadding;
  }

  &.first {
    border: 1px solid rgba(utils.$pink-9, 0.3);

    tr:not(:last-child) td {
      border-bottom: 1px solid rgba(utils.$pink-9, 0.3);
    }

    thead > tr {
      @include utils.background(utils.$pink-9, 0.8);
    }
  }

  &.second {
    border: 1px solid rgba(utils.$blue-9, 0.3);

    tr:not(:last-child) td {
      border-bottom: 1px solid rgba(utils.$blue-9, 0.3);
    }

    thead > tr {
      @include utils.background(utils.$blue-9, 0.8);
    }
  }

  &.third {
    border: 1px solid rgba(utils.$orange-8, 0.3);

    tr:not(:last-child) td {
      border-bottom: 1px solid rgba(utils.$orange-8, 0.3);
    }

    thead > tr {
      @include utils.background(utils.$orange-8, 0.8);
    }
  }
}
