@use 'utils';

$innerCellPadding: utils.$module-size / 2;

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  user-select: none;

  border-radius: utils.$module-size;
  overflow: hidden;

  @include utils.glassBackground();

  tr {
    color: utils.$gray-10;
    border: 2px solid rgba(utils.$white, 0.4);
  }

  th {
    font-weight: utils.$font-weight-bold;
    color: utils.$gray-1;
  }

  th,
  td {
    padding: utils.$module-size;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }

  // Name
  td:nth-child(1) {
    text-align: left;
  }

  th:nth-child(1),
  td:nth-child(1) {
    padding-right: $innerCellPadding;
  }

  // Date
  th:nth-child(2),
  td:nth-child(2) {
    width: 72px;
    padding-right: $innerCellPadding;
    padding-left: $innerCellPadding;
  }

  // Channel
  th:nth-child(3),
  td:nth-child(3) {
    width: 96px;
    padding-left: $innerCellPadding;
  }
}

.first thead > tr {
  border-width: 2px;
  @include utils.glassBackground(utils.$pink-9, 0.8);
}

.second thead > tr {
  @include utils.glassBackground(utils.$blue-9, 0.8);
}

.third thead > tr {
  @include utils.glassBackground(utils.$orange-8, 0.8);
}
