// TYPOGRAPHY
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-regular: 16px;
$font-size-title: 24px;

$font-family-main: "Nunito", sans-serif;

// COLORS
$color-main: #171717;
$bg-color-main: #ffffff;

$table-line-color: #49849f;
$table-row-color: #a2bdc9;

// SIZES
$cellPadding: 8px;
