@import 'utils';

.row {
  transition: $transition-duration linear;

  &:hover {
    background-color: $gray-2;
  }
}

.linkRow {
  position: relative;
  padding: $cellPadding;
}

.link {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.old {
  background-color: $purple-2;
}

.notStarted {
  background-color: $purple-1;
}

.dateElem {
  display: inline-block;
}