.row {
  transition: 0.2s linear;

  &:hover {
    background-color: lightgray;
  }
}

.old {
  background-color: lightcoral;
}

.inLive {
  background-color: lightblue;
}

.dateElem {
  display: inline-block;
}