@use 'utils';

.row {
  transition: utils.$transition-duration linear;

  &:hover {
    background-color: utils.$gray-2;
  }
}

.linkRow {
  position: relative;
  padding: utils.$cellPadding;
}

.link {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.old {
  background-color: utils.$purple-2;
}

.notStarted {
  background-color: utils.$purple-1;
}

.dateElem {
  display: inline-block;
}