@use "utils";

$button-height: 40px;
$module-size: 8px;

@mixin selectedButton ($color) {
  &.selected {
    @include utils.background($color, 0.9);
    color: utils.$gray-1;
  }

  &:hover {
    @include utils.background($color, 0.6);
    color: utils.$gray-1;
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  padding: utils.$module-size;
  padding-bottom: calc(env(safe-area-inset-bottom) + var(utils.$module-size));

  border-top-left-radius: utils.$module-size * 2;
  border-top-right-radius: utils.$module-size * 2;

  @include utils.glassBackground();

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: utils.$module-size;
  justify-content: center;
}

.button {
  @extend %main-font-bold;
  font-size: utils.$font-size-regular;

  min-height: $button-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: utils.$module-size;
  cursor: pointer;

  @include utils.background(utils.$white, 0.6);

  border-radius: utils.$module-size;
  color: utils.$gray-10;

  transition:
    background-color utils.$transition-duration ease,
    border utils.$transition-duration ease,
    color utils.$transition-duration ease;

  &.first {
    @include selectedButton(utils.$pink-8);
  }

  &.second {
    @include selectedButton(utils.$blue-8);
  }

  &.third {
    @include selectedButton(utils.$orange-8);
  }
}
