@use 'utils';

@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;
}

.button {
  @include utils.textButton;

  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color utils.$transition-duration;

  background-color: utils.$blue-2;

  &:hover {
    background-color: utils.$blue-4;
  }

  @include mobile {
    min-height: 70px;
  }
}

.selected {
  background-color: utils.$blue-5;
}
