@use "utils";

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  padding: utils.$module-size;
  padding-bottom: calc(env(safe-area-inset-bottom, utils.$module-size * 2) + var(utils.$module-size));


  border-top-left-radius: utils.$module-size * 2;
  border-top-right-radius: utils.$module-size * 2;

  @include utils.glassBackground();

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: utils.$module-size;
  justify-content: center;
}
